body{
    background-image:url("images/login/background.jpeg");
    background-size:100%;
    background-repeat:no-repeat;
    text-align:center;
}

#login_frame{
    width: 400px;
    height: 260px;

    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -130px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
}

#register_result_message{
    width: 400px;
    height: 150px;

    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -75px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
}

#login_result_message{
    width: 400px;
    height: 150px;

    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -75px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
}

#register_frame{
    width: 400px;
    height: 320px;

    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -160px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
}
.label_title{
    font-size: 28px;
    font-weight: bold;
}

form p > *{
    display:inline-block;
    vertical-align: middle;
}

.label_input{
    font-size: 14px;
    font-family: 宋体;
    width:65px;
    height:28px;
    line-height:28px;
    text-align: center;
    color:white;
    background-color:#3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
}

.text_field{
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.input_combo{
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#btn_login{
    font-size: 14px;
    font-family: 宋体;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #3BD8FF;
    border-radius: 6px;
    border: 0;
}

#forget_pwd{
    font-size: 12px;
    color: #3BD8FF;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
}

#forget_pwd:hover{
    color: blue;
    text-decoration: underline;
}

#register{
    font-size: 12px;
    color: #3BD8FF;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
    right: 10px;
}

#register:hover{
    color:blue;
    text-decoration: underline;
}

#login_control{
    padding:0 28px;
}

.top_positioning {
    position: fixed;
    top : 0;
    left: 0;
    z-index: 99999;
    width: 100%;
}

.men_pi_a {
    background:#555555;
    position: relative;
    z-index: 100;
    min-width: 1250px;
    height: 72px;
}

.wd {
    width: 1200px;
    min-width:1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.fl {
    float: left;
}

.logo_a {
    font-size: 32px;
    color: white;
}

.men_pi_a_03{
    width: 300px;
}

.link_label{
    font-size: 28px;
    margin-top: -10px;
    color: white;
}

.men_pi_a ul li {
    display: inline;
    list-style: none;
    padding-top: 100px;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;
}
