*{
    margin:0;
    padding:0;
}

.content_border{
    width: 1200px;
    min-width:1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image:url("../images/login/background.jpeg");
    background-size:100%;
    background-repeat:no-repeat;
    text-align:center;
}

#top{
    position: fixed;  
    width: 100%;
    z-index: 99999;
}

#top .nav {
    background:#3CD8FF;
    width: 100%;
    height: 72px;
    z-index: 100;
}

#top .logo {
    float: left;
    font-size: 32px;
    color: white;
    margin-top: 16px;
}

.men_pi_a_03{
    width: 300px;
}

.link_label{
    font-size: 28px;
    color: white;
}

.men_pi_a ul li {
    display: inline;
    list-style: none;
    padding-top: 100px;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;
}
